/* xs - SMARTPHONE PORTRAIT STYLES */
#stickyunit {
  position: fixed;
  width: 100%;
  bottom: 5px;
  left: 0;
  text-align: center;
  height: 105px;
  z-index: 10000;
  background: #f8f8f8;
  transform: translateY(100%);
  margin: 0;
  padding: 0;
  opacity: 1;
  vertical-align: baseline;
  overflow: visible;
  transition: bottom 0.2s ease-in;
}
#stickyunit .ads-ee {
  display: block;
  position: relative;
  width: 100%;
  height: 5px;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px -1px, rgba(0, 0, 0, 0.1) 0px -1px 2px -1px;
}
#stickyunit .ads-ee .ads-btn {
  display: block;
  position: absolute;
  width: 48px;
  height: 24px;
  left: 0;
  bottom: 0;
  background: #fafafa;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 1px 5px -1px;
}
.ads-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 80%;
  font-weight: bold;
}
.ads-container::before, .ads-container::after {
  display: block;
  min-height: 0.5rem;
  text-transform: uppercase;
  color: #888;
}
.ads-container::before {
  /* 	content: "Advertisement"; */
  content: " ";
}
.ads-container::after {
  /* 	content: "Continue reading below" */
  content: " ";
}
.ads-unit-hr {
  width: 320px;
  height: 320px;
}
.ads-unit-hr {
  width: 320px;
  height: 90px;
}
.ads-card {
  height: 300px;
  display: flex;
  justify-content: center;
}
.ads-sticky {
  display: none;
}
.ads-mobi {
  display: flex;
}
.ads-desk {
  display: none;
}
.ads-desk.ads-kw {
  display: flex;
}
.single .ads-mobi.nc {
  display: none;
}
.r-kw {
  margin-bottom: 2rem;
}
#ads-001-a.ads-mobi {
  min-height: 350px;
}
.ads-container.ad-ifd {
  width: 100%;
  height: 100%;
  margin: 0;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}
.ads-container.ad-ifd .ads-unit-ifd {
  width: 100%;
  height: 100%;
}
/* md - TABLET PORTRAIT STYLES */
@media (min-width: 500px) {
  .ads-unit-hr {
    width: 468px;
    height: 60px;
  }
}
/* xl - DESKTOP STYLES */
@media (min-width: 800px) {
  #stickyunit {
    height: 95px;
  }
  .ads-unit-hr {
    width: 970px;
    height: 90px;
  }
  .ads-container {
    height: 90px;
  }
  .ads-container.ads-verti {
    height: auto;
  }
  .ads-unit-vt {
    min-width: 300px;
    width: 300px;
    height: auto;
  }
  .ads-sticky {
    position: sticky;
    top: 96px;
    display: block;
  }
  .ads-mobi {
    display: none;
  }
  .ads-desk {
    display: flex;
  }
  .r-kw {
    margin-top: 0em;
    margin-bottom: 2em;
  }
  .ads-desk.r-kw {
    display: none;
  }
  .ads-desk.r-kw .ads-unit-hr {
    width: 728px;
    height: 90px;
  }
  .ads-container.ads-page {
    height: 300px;
  }
  .ads-container.ads-page .ads-unit-hr {
    width: 970px;
    height: 300px;
  }
  .ads-container.ads-page .ads-unit-hr-lg {
    width: 1200px;
    height: 300px;
  }
  .modal .ads-container {
    width: 300px;
    height: 250px;
  }
  .modal .ads-container .ads-unit-sq {
    width: 300px;
    height: 250px;
  }
  .ads-container.ad-ifd {
    margin: 0;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
  }
  .ads-container.ad-ifd .ads-unit-ifd {
    width: 250px;
    height: 600px;
  }
}
/*# sourceMappingURL=data:application/json,%7B%22version%22%3A3%2C%22sourceRoot%22%3A%22%2F%22%2C%22sources%22%3A%5B%22(stdin)%22%2C%22wp-content%2Fcustom_codes%2F113038-scss-mobile-p.scss%22%2C%22wp-content%2Fcustom_codes%2F113038-scss-tablet-p.scss%22%2C%22wp-content%2Fcustom_codes%2F113038-scss-desktop.scss%22%5D%2C%22names%22%3A%5B%5D%2C%22mappings%22%3A%22AAAA%3BACAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAgBC%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAOC%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAaF%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAUI%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAOH%3BAAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BAAAA%3BAAAA%3BAAMD%3BAAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAMA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%3BAAAA%3BAAGA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAOC%3BAAAA%3BAAAA%3BAAAA%3BADjHD%3BAAIA%3BAEJA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAFAA%3BAASA%3BAGTA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAOA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAMA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAAA%3BAAKA%3BAAAA%3BAAAA%3BAAEC%3BAAAA%3BAAAA%3BAAAA%3BAAMD%3BAAAA%3BAAAA%3BAAEC%3BAAAA%3BAAAA%3BAAAA%3BAAIA%3BAAAA%3BAAAA%3BAAAA%3BAAOD%3BAAAA%3BAAAA%3BAAAA%3BAAGC%3BAAAA%3BAAAA%3BAAAA%3BAAMD%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAAA%3BAAKC%3BAAAA%3BAAAA%3BAAAA%3BAAAA%22%7D */